.DS_Store
*.aux
*.synctex.gz
*.log
*.out
.~lock*
*~
*.class
.DS_Store

lectures/class-notes.pdf
_cache
_site
web/hakyll
*.hi
*.o
*.pdf

exams-solutions/
csci150-instructors/
ThinkPython/
16S/
.stack-work
/web/homework
/web/images
/17S/
