<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">{{ page.number }}: {{ page.semester }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#myview" id="download">Overview<span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="download">
            <a class="dropdown-item" href="#description">Description</a>
            <a class="dropdown-item" href="#goals">Learning Goals</a>
            <a class="dropdown-item" href="#resources">Resources</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#inclasscode">In-Class Code</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#grading" id="download">Coursework<span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="download">
            <a class="dropdown-item" href="#hwqz">Homework and Quizzes</a>
            <a class="dropdown-item" href="#labs">Labs</a>
            <a class="dropdown-item" href="#projects">Projects</a>
            <a class="dropdown-item" href="#exams">Exams</a>
            <a class="dropdown-item" href="#scale">Scale</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#commitments">Commitments</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
